:root {
    --dark-gray: #656b75;
    --blue-gray: #848c94;
    --sand: #cfb495;
    --lighter-sand: #e1cab3;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove scrollbar */
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--dark-gray);
    font-family: 'Agdasima', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container {
    text-align: center;
    margin: 20px 0;
}

.header {
    color: var(--lighter-sand);
    font-size: 80px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 200px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue-gray);
    padding: 40px 0;
    border-radius: 20px;
}

.sidebar {
    width: 300px;
    height: 400px;
    background-color: red;
}

.grid-container {
    background-color: blue;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 6px #000000;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lighter-sand);
    height: 60px;
    font-size: 20px;
}