:root {
    --dark-gray: #656b75;
    --blue-gray: #848c94;
    --sand: #cfb495;
    --lighter-sand: #e1cab3;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-gray);
    font-family: 'Agdasima', sans-serif;
}

.header-container {
    text-align: center;
    margin: 20px 0;
}

.header {
    color: var(--lighter-sand);
    font-size: 80px;
}

